#!/bin/bash
export FLINK_HOME=/opt/flink-1.3.2
export TARGET_JAR_NAME=tspoon-research-artifact.jar
export TARGET_JAR_PATH=../tspoon/target/
export TARGET_JAR="$TARGET_JAR_PATH$TARGET_JAR_NAME"
export PACKAGE_BASE=it.polimi.affetti.tspoon

# Class for the evaluation.
# Used in launch_evaluation.sh, appended to PACKAGE_BASE.
export EVAL_CLASS=evaluation.Evaluation
export QUERY_EVAL_CLASS=evaluation.QueryEvaluation
export CONSISTENCY_CHECK_CLASS=evaluation.ConsistencyCheck
export BANK_EXAMPLE_CLASS=evaluation.BankUseCase
export BANK_EXAMPLE_NOT_CLASS=evaluation.BankUseCaseNoT
export PURE_FLINK_CLASS=evaluation.FlinkGoAsFastAsYouCan
export NEVER_LASTING_CLASS=evaluation.NeverLastingBank
export REPLAY_CLASS=evaluation.SimulateReplayTest
export MIXED_CLASS=evaluation.Mixed
export NEW_MIXED_CLASS=evaluation.NewMixed
export ABORTS_CLASS=evaluation.IncreaseAborts

# Base Directory for results
export RESULTS_DIR=./results

# If set to true only outputs commands
export DEBUG=false

# Isolation level and concurrency control strategy
export ISOLATION=3
export IS_OPTIMISTIC=true

# Parallelism settings
export TOTAL_SLOTS=42
# The taskmanagers in the cluster, compulsory for durability experiments
export TASK_MANAGERS="tm0,tm1,tm2"

# Defaults
# parameters appended as default options for every job
# (could be empty)
export DEFAULT="--durable false --startInputRate 100 --resolution 100"

# Refreshes the cluster at every job launch
export REFRESH_CLUSTER=true
export REFRESH_SLEEP=60 # the seconds to sleep between 2 experiments

# Push Bullet access token for notifications
# (if you don't want notifications comment this line)
export PUSH_BULLET_ACCESS_TOKEN=42.quarantadue42
