#!/bin/bash
export FLINK_HOME=/opt/flink-1.1.4
export TARGET_JAR=../tspoon/target/tspoon-research-artifact.jar
export PACKAGE_BASE=it.polimi.affetti.tspoon

# Class for the evaluation.
# Used in launch_all.sh, appended to PACKAGE_BASE.
export EVAL_CLASS=evaluation.Evaluation

# Base Directory for results
export RESULTS_DIR=./results

# If set to true only outputs commands
export DEBUG=false

# Isolation level and concurrency control strategy
export ISOLATION=3
export IS_OPTIMISTIC=true

# Defaults
# parameters appended as default options for every job
# (could be empty)
export DEFAULT="--nRec 100000 --sled 20000"

# Refreshes the cluster at every job launch
export REFRESH_CLUSTER=true

# Push Bullet access token for notifications
# (if you don't want notifications comment this line)
export PUSH_BULLET_ACCESS_TOKEN=42.quarantadue42

